.bioindex-help {
	position: absolute;
	background: white;
	border: 1px solid gray;
	border-radius: .5em;
	padding: 1em;
}

.bioindex-entry input[type=text] {
	border: 0;
	border-bottom: 1px solid gray;
	transition: width 100ms;
}

.bioindex-dummy {
	position: absolute;
	visibility: hidden;
	left: -9999px;
	white-space: pre;
}

/* Only show help when current area is focused */
* ~ .bioindex-help {
	visibility: hidden;
	opacity: 0;
	margin-top: -2em;
	transition: margin-top, opacity;
	transition-duration: 250ms;
}
input:focus ~ .bioindex-help {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}
